
<form action="/restaurants/<%=@restaurant.id%>" method="POST">
  <input id = "hidden" type="hidden" name="_method" value="patch">

  <label>Name</label><input type="TEXT" name="name" value="<%=@restaurant.name%>">
  </input>
  <label>City</label><input type= "TEXT" name="city" value="<%=@restaurant.city%>">
</input><br>
  <label>Cuisine</label><input type= "TEXT" name="cuisine" value="<%=@restaurant.cuisine%>">
</input><br>
  <label>Rating</label><input type= "INTEGER" name="rating" value="<%=@restaurant.rating%>">
</input><br>
  <label>Address</label><input type= "TEXT" name="address" value="<%=@restaurant.address%>">
</input><br>

<input type="SUBMIT" value="update"></input>

</form>
